
<div data-sticky-container style="z-index:100" class="show-for-large">
    <div data-sticky data-margin-top="0" class="top-sticky">
        <div class="grid-x">
            <div class="small-3 cell logo">
            	<a href="{{ .Site.BaseURL }}">
            	{{ if .Site.Params.logo }}
				<img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
				{{ else }}
				{{ .Site.Title }}
				{{ end }}
            	</a>
            </div>
            <div class="small-9 cell">
	            <ul class="dropdown menu main-menu" data-dropdown-menu>
	            {{ $currentPage := . }}
	            {{ range .Site.Menus.main }}
	                {{ if .HasChildren }}
	                    <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
	                    <a href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>

	                    <ul class="sub-menu">
	                {{ range .Children }}
	                    {{ if .HasChildren }}
	                        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
	                        <a href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>

	                        <ul class="sub-menu">
	                    {{ range .Children }}
	                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
	                        <a href="{{ .URL }}">{{ .Name }}</a>
	                        </li>
	                    {{ end }}
	                        </ul>
	                        </li>
	                    {{ else }}
	                        <li>
	                        <a href="{{ .URL }}">
	                        {{ .Pre }}
	                        <span>{{ .Name }}</span>
	                        </a>
	                        </li>
	                    {{ end }}
	                {{ end }}
	                    </ul>
	                    </li>
	                {{ else }}
	                    <li>
	                    <a href="{{ .URL }}">
	                    {{ .Pre }}
	                    <span>{{ .Name }}</span>
	                    </a>
	                    </li>
	                {{ end }}
	            {{ end }}
	            </ul>
             </div>   {{ "<!-- END NAV BAR DESKTOP -->" | safeHTML }}
            </div>
        </div>
    </div>
</div>